<h1> This is the order form </h1>

<form action='/orders' method="POST">
    item: <input type=text name="item">
    item_price: <input type=number name="item_price">
    total: <input type=number name="total">
    <input type=submit>
<form>
