<div class="container">

  <h1 class="welcome_title"> Beautify </h1>
  <img class="welcome_img" src="https://source.unsplash.com/ceWgSMd8rvQ/640x418"> <br>

  <a href="/users/signup"> Sign up for Beautify here! </a> <br>
  <a href="/users/login"> Log in here! </a>

  
  
</div>
